body {
    font-family: 'Arial', sans-serif;
    background-color: #0e0d0d;
    color: white;
    padding: 10px;
}

.container {
    position: relative;
    width: 1000px;
    margin: auto;
    height: 1000px;
    display: grid;
    grid-template-columns:repeat(9, 1fr); ;
    grid-template-rows: repeat(9, 1fr);
    gap: 2px;
    background-color: rgb(19, 20, 19);
    border: 3px solid rgb(5, 233, 43);
    color: rgb(5, 233, 43);
    
}

.common{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: rgb(5, 233, 43);
    border: 3px solid rgb(5, 233, 43);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box1{
    grid-row: 1 / 2;
    grid-column:  1 / 8;
    justify-content: right;
    font-size: 15px;
}
.box2{
    grid-row:  1 / 8;
    grid-column:  8 / -1;
}
.box3{
    grid-row: 2 / 8;
    grid-column:  1 / 3;
}
.box4{
    grid-row: 2 / 3;
    grid-column: 3 / 8;
}
.box5{
    grid-row:  3 / 8;
    grid-column:  3 / 8;
}
.box6{
    grid-row:  8 / -1;
    grid-column:  1 / -1;
    justify-content: left;
}

.title1 {
    position: absolute;
    top : 40px;
    left: 30px;
    height: auto;
    width: auto;
    font-size: 20px;
    padding: 2px;
    display: inline-block;
}

.title2{
    position: absolute;
    top : 86%;
    left: 65%;
    height: auto;
    width: auto;
    font-size: 20px;
    color: rgb(5, 233, 43);
    border: 2px solid rgb(5, 233, 43);
    padding: 2px;
    display: inline-block;
    animation: blink 2s step-start infinite;
    font-size: 40px;
}

@keyframes blink {
    50% {
        opacity: 0; 
    }
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e0d0d;
    border: 1px solid rgb(5, 233, 43);
    font-size: 29px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: rgb(5, 233, 43);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

img{
    max-width:450px;
    max-height:450px;
}